body {
    background-size: cover;
    background-image: url(../img/travel.jpeg);
    background-position: center center;
    position: relative;
    background-color: whitesmoke;
  }
  .brown {
  
    background-color:teal;
    background-image: url(../img/young\ kid.jpeg);
    /*color:  	#AF6000;*/
    color: aqua;
  }
  .akan{
    color: red;
  }
  .fact {
    background-color: tomato;
    color:black;
    box-shadow: 0px 2px 2px rgba(139, 240, 7, 0.24);
  }
  .app {
    background-color:gray;
    color: black;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.24);
  }
  h1, h2, h3, h4,h5, th {
    font-style: italic;
  }
  .red {
    color: red;
  }
  
  .results {
    color:red;
  }
  
  .result {
    background-color: transparent;
  }
  footer {
    background-color:  	#210804;
    color:  	#FBD248;
  }